# Ignore dashboards, and show screenshots
.pbix

# Ignore personal files
07_interview_prep/

05_excel_reports/sample_output_*.xlsx

pgdata/

02_database/.env

01_data_sources/raw_csv/*.csv

06_docs/unused

02_database/data/

.idea
