# Ignore Power BI files (Dashboards)
*.pbix

# Ignore Power BI model files (generated)
dashboards/models/

# Ignore all CSV files (everywhere in the repo)
*.csv

# Ignore personal interview prep folder
interview_prep/

# Ignore Excel outputs
reports/output/*.xlsx

# Ignore database data/credentials
pgdata/
database/.env
database/data/
.env

# Ignore unused documentation and word docs
docs/*.docx
docs/unused/*
docs/interviews/*
dashboards/docs/
*.docx
*.pdf

# Ignore IDE files
.idea/

# Ignore Power BI temporary/model files
*.SemanticModel/
*.Report/

# Ignore logs + transient ETL errors
data_sources/generators/logs/
etl/logs
etl/errors/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore excel reports
reports/output/*.csv
reports/templates/*.xlsx
reports/templates/*.csv

# Ignore pytest cache
.pytest_cache

# Opencode temporary files
*.tmp
.opencode/

# Generated/transient files in dashboards
dashboards/assets/
dashboards/assets/theme/
dashboards/assets/SVGs/png/
dashboards/assets/SVGs/
dashboards/assets/docs/
dashboards/assets/bg/  
